/* https://palettable.io/FFFAF2-8E9699-93A6AA-292627 */


body {
    text-align: center;
    background-color: #FFFAF2;
    margin: 0;
    font-family: Arial;
    font-size: 22;
}


canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    top:0;
}


#home {
    position: fixed;
    padding-top: 10px;
    color: #202B33;
}

#shadows {
    position: fixed;
    z-index: -1;
}